<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="home-container">
    <img src="/images/comingsoon.png">
    <p>Something exciting is coming your way!</p>
    <p>Watch this space...</p>
    
</div>